<section class="hero is-primary is-fullheight">

    {{!-- Header --}}
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/home">
                        <img src="images/image.png" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class='navbar-link' href="/home">
                                Dashboard
                            </a>

                            <div class='navbar-dropdown'>
                                <a class='navbar-item'>
                                    Reports
                                </a>
                                <a class='navbar-item'>
                                    History
                                </a>
                                <a class='navbar-item'>
                                    Plan
                                </a>
                            </div>
                        </div>
                        <a class="navbar-item" id="friends" href="/friends">
                            Leaderboard
                        </a>
                        <a class="navbar-item" id="newActivity" href="/post-activity">
                            Post New Run
                        </a>
                        <a class="navbar-item" href="/viewRuns">
                            View All Runs
                        </a>
                    </div>
                    <div class="navbar-end">
                        <span class="navbar-item" id="signOut">
                            <p id="loggedInUser">Logged in as </p>
                            <a id="signOutBtn" class="button is-primary is-inverted" href="#" onclick="signOut();">
                                <span>Sign Out</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </header>
    </div>

    {{!-- Leaderboard Title --}}
    <div id="leaderboardTitle">Leaderboard</div>
    <div id="leaderboardSubtitle">Total Miles Ran</div>

    {{!-- Body --}}
    <div class="hero-body">

        <div id="leaderboardContainer">

            {{!-- Leaderboard --}}
            <div id="leaderboard" name="leaderboard"></div>
        </div>
    </div>

    {{!-- Footer --}}
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li><a>FAQ</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/terms">Terms of Service</a></li>
                </ul>
            </div>
        </nav>
    </div>

</section>

{{!-- Javascript, Jquery --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/friends.js"></script>





