<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">

    <title>Mammoth</title>

    {{!-- Styling --}}
    <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
</head>

<body>

    <div id="home">
        <div class="container">

        </div>
    </div>

    {{!-- Javascript, Jquery --}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>

</body>

</html>