<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Mammoth</title>
  <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-grid.css">
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
</head>

<body>

  <div id="home">
    <div class="container">

      {{!-- First Row --}}
      <div class="row" id="row1">
        <h1 class="col-5">Mammoth</h1>
        <form class="col-6" id="headerForm">
          <button class="btn btn-primary">Dashboard</button>
          <button class="btn btn-primary">Friends</button>
          <button class="btn btn-primary">Reports</button>
        </form>
      </div>

      {{!-- Second Row --}}
      <div class="row">
        <h1 class="col-5" id="name">Name</h1>

        {{!-- Plan, History, Post New Activity Buttons --}}
        <div class="col-6" id="headerBtns">
          <form action="/" id="headerForm" method="GET">
            <button class="btn btn-primary" formaction="/plan" id="plan" name="plan">Plan</button>
            <button class="btn btn-primary" formaction="/history" id="history" name="history">History</button>
            <button class="btn btn-primary" formaction="/post-activity" id="postNewActivity" name="postNewActivity">Post New Activity</button>
          </form>
        </div>
      </div>

      {{!-- Third Row --}}
      <div class="row" id="row3">
        Display Stats
        <div class="row">

        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/index.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>

</body>

</html>