<section class="hero is-primary is-fullheight">
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="images/image.png" alt="Logo">
          </a>
          <span class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class='navbar-link'>
                Dashboard
              </a>

              <div class='navbar-dropdown'>
                <a class='navbar-item'>
                  Reports
                </a>
                <a class='navbar-item'>
                  History
                </a>
                <a class='navbar-item'>
                  Plan
                </a>
              </div>
            </div>
            <a class="navbar-item">
              Friends
            </a>
            <a class="navbar-item">
              Challenge
            </a>
            <a class="navbar-item">
              Post New Activity
            </a>
          </div>
          <div class="navbar-end">
            <span class="navbar-item" id="signIn">
              <a class="button is-primary is-inverted" href="https://www.googleapis.com/oauth2/v1/tokeninfo?access_token=access_token_here">
                <span>Sign In</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <canvas id="myChart" width="200" height="200"></canvas>
        </div>
        <div class="column is-one-third">

        </div>
        <div class="column is-one-third">
          <canvas id="lineChart" width="200" height="200"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a>FAQ</a></li>
          <li><a>Contact Us</a></li>
          <li><a>About</a></li>
          <li><a>Terms of Service</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ["Joseph", "Vahe", "Curtis", "Bhavin",],
      datasets: [{
        label: 'Miles',
        data: [5, 15, 30, 20,],
        backgroundColor: [
          'rgba(255, 0, 0, 0.3)',
          'rgba(0, 255, 0, 0.3)',
          'rgba(0, 0, 255, 0.3)',
          'rgba(75, 192, 192, 0.3)',
        ],
        borderColor: [
          'red',
          'green',
          'blue',
          'rgba(75, 192, 192, 1)',
        ],
        borderWidth: 1,
        hoverBorderWidth: 5
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Miles Ran',
        fontColor: "white"
      },
      legend: {
        display: false
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            fontColor: "white"
          },
          gridLines: {
            color: 'rgb(118, 40, 155)'
          }
        }],
        xAxes: [{
          ticks: {
            fontColor: "white"
          },
        }]
      },

    }
  });


  var lineC = document.getElementById("lineChart").getContext('2d');
  var myChart = new Chart(lineC, {
    type: 'line',
    data: {
      labels: ["Week 1", "Week 2", "Week 3", "Week 4"],
      datasets: [
        {
          label: 'Joseph',
          data: [50, 60, 40, 80],
          borderColor: 'rgba(255, 0, 0, 0.3)',
          fill: false,
          pointBackgroundColor: 'red',
          pointHoverRadius: 7,
        },
        {
          label: 'Vahe',
          data: [22, 11, 44, 50],
          borderColor: 'rgba(0, 255, 0, 0.3)',
          fill: false,
          pointBackgroundColor: 'green',
          pointHoverRadius: 7,
        },
        {
          label: 'Curtis',
          data: [30, 70, 100, 90],
          borderColor: 'rgba(0, 0, 255, 0.3)',
          fill: false,
          pointBackgroundColor: 'blue',
          pointHoverRadius: 7,
        },
        {
          label: 'Bhavin',
          data: [74, 70, 30, 5],
          borderColor: 'rgba(75, 192, 192, 0.3)',
          fill: false,
          pointBackgroundColor: 'cyan',
          pointHoverRadius: 7,
        }
      ],
    },
    options: {
      title: {
        display: true,
        text: 'Weekly Goal Completion',
        fontColor: "white"
      },
      scales: {
        yAxes: [{
          scaleLabel: {
            display: true,
            labelString: "% Completion",
            fontColor: "gray"
          },
          ticks: {
            beginAtZero: true,
            fontColor: "white"
          },
          gridLines: {
            color: 'rgb(118, 40, 155)'
          }
        }],
      }
    }
  });

   var url = 'https://www.googleapis.com/plus/v1/people/me?access_token={access_token}';

  $.ajax({
    type: 'GET',
    url: url,
    async: false,
    success: function(userInfo) {
      //info about user
      console.log(userInfo);
      console.log('test');
    },
    error: function(e) {
      console.log('error');

    }
  });
</script>