<section class="hero is-primary is-fullheight">

<br><br>
  <div>
    <h1 style="text-align:center">Welcome to Mammoth!</h1>
  </div>
  <br><br>
<div> <img src="images/image.png" alt="Logo" id="logoImage"> 
</div>
  <div style="text-align:center" class="g-signin2" data-onsuccess="onSignIn" id="signIn"></div>

  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-one-third">
          <!-- <canvas id="myChart" width="200" height="200"></canvas> -->
        </div>
        <div class="column is-one-third">

        </div>
        <div class="column is-one-third">
          <!-- <canvas id="lineChart" width="200" height="200"></canvas> -->
        </div>
      </div>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a>FAQ</a></li>
          <li><a>Contact Us</a></li>
          <li><a>About</a></li>
          <li><a>Terms of Service</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>


{{!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> --}}

<script src="/js/login.js"></script>