<div id="home">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h1>{{msg}}</h1>
                <h2>Please login here!</h2>
                {{!-- <br><br>
                <a href="/register">
                <button id="registerPage" class="btn btn-primary">Create profile</button></a>
                <br><br>
                <form class="clearfix mb-4" action="POST">
                    <div class="form-group">
                        <label for="example-text">Email</label>
                        <input type="text" id="email" class="form-control" aria-describedby="example-text"
                            placeholder="Enter your email">
                    </div>
                    <div class="form-group">
                        <label for="example-text">Password</label>
                        <input type="text" id="password" class="form-control" aria-describedby="example-text"
                            placeholder="Enter your password">
                    </div>
                    <button id="login" class="btn btn-success float-left">Login</button>

                </form> --}}
                <a href="{{loginUrl}}" id="loginUrl" class="btn btn-success float-left">Login with Google</a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/login.js"></script>