<section class="hero is-primary is-fullheight">
  <br><br>
  <div class="hero-head">
    <header class="navbar">
      <div class="container">
        <div class="navbar-brand" id="loginNavbar">
          <h1> Welcome to Mammoths!</h1>
        </div>
      </div>
    </header>
  </div>

  <div class="hero-body">
    <div class="container">
      <div class="row">
        <div class="col-4">

          <div>
            <img src="images/image.png" alt="Logo" id="logoImage">
          </div>

          <div style="text-align:center" class="g-signin2" data-onsuccess="onSignIn" id="signIn">
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li><a>FAQ</a></li>
          <li><a>Contact Us</a></li>
          <li><a>About</a></li>
          <li><a>Terms of Service</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<script src="/js/login.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>