<section class="hero is-primary is-fullheight">

{{!-- Header --}}
<div class="hero-head">
<header class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/home">
                <img src="images/image.png" alt="Logo">
            </a>
            <span class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class='navbar-link' href="/home">
                        Dashboard
                    </a>

                    <div class='navbar-dropdown'>
                        <a class='navbar-item'>
                            Reports
                        </a>
                        <a class='navbar-item'>
                            History
                        </a>
                        <a class='navbar-item'>
                            Plan
                        </a>
                    </div>
                </div>
                <a class="navbar-item">
                    Friends
                </a>
                <a class="navbar-item">
                    Challenge
                </a>
                <a class="navbar-item" id="newActivity" href="/post-activity">
                    Post New Activity
                </a>
            </div>
            <div class="navbar-end">
                <span class="navbar-item" id="signOut">
                    <a class="button is-primary is-inverted" href="#" onclick="signOut();">
                        <span>Sign Out</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</header>
</div>

{{!-- Body --}}
<div class="hero-body">

    <div class="columns">

        {{!-- First Column --}}
        <div class="column is-one-third"></div>

        {{!-- Second Column --}}
        <div class="column is-one-third">

            {{!-- Running Form --}}
            <div id="runningForm">
                <form id="headerForm">

                    <label for="date">Date:
                    <input type="text" name="date" id="date" autocomplete="off"><br>

                    <label for="distance">Distance: </label>
                    <input type="text" name="distance" id="distance" autocomplete="off"><br>

                    <label for="duration">Duration: </label>
                    <input type="text" name="duration" id="duration" autocomplete="off"><br>

                    <label for="pace">Pace: </label> 
                    <p id="pace" name="pace">0:00</p><br>

                    <label for="location">Location: </label>
                    <input type="text" name="location" id="location" autocomplete="off"><br>

                    <label for="surface">Surface: </label>
                    <input type="text" name="surface" id="surface" autocomplete="off"><br><br>

                    <button type="submit" name="submitRun" class="btn btn-primary"
                        id="submitRun">Submit</button>
                </form>
            </div>
        </div>

        {{!-- Third Column --}}
        <div class="column is-one-third">

            {{!-- Map Display --}}
            <div id="wrapper">

                <div id="map"></div>

                <div id="mapControl">
                    <div id="distanceDiv">
                        DISTANCE
                        <div id="distance">0.0 mi.</div>
                    </div>
                    <div id="buttonDiv">
                        <button id="saveRoute">Save Route</button><br>
                        <button id="undoLast">Undo Last</button><br>
                        <button id="clearRoute">Clear Route</button>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{{!-- Footer --}}
<div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
            <ul>
                <li><a>FAQ</a></li>
                <li><a>Contact Us</a></li>
                <li><a>About</a></li>
                <li><a>Terms of Service</a></li>
            </ul>
        </div>
    </nav>
</div>

</section>

{{!-- Log In Modal --}}

<div class="modal">
    <div class="modal-background modalClose"></div>
    <div class="modal-content ">
        <!-- Any other Bulma elements you want -->
        <form class="box">
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left">
                    <input class="input is-primary" type="text" placeholder="Username" required>
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                    <input class="input" type="password" placeholder="••••••••" required>
                    <span class="icon is-small is-left">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="checkbox">
                    <input type="checkbox">
                    Remember me
                </label>
            </div>
        </form>
    </div>

    <button class="modal-close is-large modalClose" aria-label="close"></button>

</div>

{{!-- Javascript, Jquery --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/post-activity.js"></script>
<script src="/js/gmaps.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB66kReNVkNXq1PYpmqbsmNUfrGWVx0pVg&libraries=drawing&callback=initMap"
    async defer></script>