<section class="hero is-primary is-fullheight">

    {{!-- Header --}}
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/home">
                        <img src="images/image.png" alt="Logo">
                    </a>
                    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu"
                        aria-expanded="false">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-start">
                        <a class='navbar-item' href="/home">
                            Dashboard
                        </a>
                        <a class="navbar-item" href="/leaderboard">
                            Leaderboard
                        </a>
                        <a class="navbar-item" id="newActivity" href="/post-activity">
                            Post New Run
                        </a>
                        <a class="navbar-item" href="/viewRuns">
                            View All Runs
                        </a>
                    </div>
                    <div class="navbar-end">
                        <span class="navbar-item" id="signOut">
                            <p id="loggedInUser">Logged in as </p>
                            <a id="signOutBtn" class="button is-primary is-inverted" href="#" onclick="signOut();">
                                <span>Sign Out</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </header>
    </div>

    {{!-- Body --}}
    <div class="hero-body">

        <div class="columns">

            {{!-- First Column --}}
            <div class="column is-one-third">

                {{!-- Map Display --}}
                <div id="wrapper">

                    {{!-- Map Container --}}
                    <div id="map"></div>

                    {{!-- Map Control Box --}}
                    <div id="mapControl">
                        <div id="distanceDiv">
                            DISTANCE
                            <div id="distance">0.0 mi.</div>
                        </div>
                        <div id="buttonDiv">
                            <button class="mapButton" id="searchAddress">Search Address</button><br>
                            <button class="mapButton" id="saveRoute">Save Route</button><br>
                            <button class="mapButton" id="undoLast">Undo Last</button><br>
                            <button class="mapButton" id="loopRoute">Loop Route</button><br>
                            <button class="mapButton" id="clearRoute">Clear Route</button>
                        </div>
                        <div id="confirmSave"></div>

                    </div>
                </div>
            </div>

            {{!-- Second Column column is-one-third --}}
            <div class="column is-one-third">

                {{!-- Running Form --}}
                <div id="runningForm">
                    <form class="center">
                        <div class="form-group mx-sm-5 mb-2" action="/api/runs" method="POST">

                            {{!-- Date --}}
                            <label for="date">Date*:</label>
                            <input type="date" class="form-control" name="date" id="dateForm" placeholder="MM/DD/YYYY"
                                autocomplete="off"><br>

                            {{!-- Choose Existing Route --}}
                            <label for="showRoutes">Your Past Routes:</label>
                            <select class="form-control" id="showRoutes" class="list-group">
                                <option val="0" id="0" selected></option>
                            </select><br>

                            {{!-- Distance --}}
                            <label for="distance">Distance (miles)*: </label>
                            <input type="text" class="form-control" name="distance" id="distanceForm" placeholder="0.0"
                                autocomplete="off"><br>

                            {{!-- Duration --}}
                            <label for="duration">Duration*: </label><br>
                            <input type="text" class="form-control duration" name="duration" id="hours" placeholder="hh"
                                autocomplete="off">
                            <input type="text" class="form-control duration" name="duration" id="minutes"
                                placeholder="mm" autocomplete="off">
                            <input type="text" class="form-control duration" name="duration" id="seconds"
                                placeholder="ss" autocomplete="off">

                            {{!-- Mile Pace --}}
                            {{!-- label and span flipped due to float right --}}
                            <span id="pace" name="pace"> 0:00</span>
                            <label for="pace" id="paceLabel">Avg. Mile Pace: </label> <br><br>

                            {{!-- Location --}}
                            <label for="location">Location: </label>
                            <input type="text" class="form-control" name="location" id="locationForm"
                                autocomplete="off"><br>

                            {{!-- Primary Surface --}}
                            <label for="surface">Primary Surface: </label>
                            <select class="form-control" id="surfaceForm" name="surface">
                                <option value="">Select one</option>
                                <option value="street">Street</option>
                                <option value="bike path">Bike Path</option>
                                <option value="trail">Trail</option>
                                <option value="track">Track</option>
                                <option value="dirt road">Dirt Road</option>
                                <option value="grass">Grass</option>
                                <option value="beach">Beach</option>
                                <option value="treadmill">Treadmill</option>
                            </select><br>

                            {{!-- Submit Button --}}
                            <button type="submit" name="submitRun" class="btn btn-warning btn-sm"
                                id="submitRun">Submit</button>
                        </div>
                    </form>
                </div>

            </div>

            {{!-- Third Column --}}
            <div class="column is-one-third">

                <div class="tile is-ancestor">
                    <div class="tile is-vertical is-parent">
                        <div class="tile is-child notification is-white">
                            <p id="top5Runs">Your Recent Runs:</p>

                            {{!-- Run List --}}
                            <ul id="run-list">
                                {{#each runs}}
                                {{!-- <span> --}}
                                <li data-id="{{this.id}}">
                                    {{this.date}}
                                    {{this.distance}}
                                    {{this.duration}}
                                    <button class="btn btn-danger float-right delete">ｘ</button>
                                </li>
                                {{!-- </span> --}}
                                {{/each}}
                            </ul>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    {{!-- Footer --}}
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li><a>FAQ</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/terms">Terms of Service</a></li>
                </ul>
            </div>
        </nav>
    </div>

    {{!-- Log In Modal --}}

    <div class="modal">
        <div class="modal-background modalClose"></div>
        <div class="modal-content ">
            <!-- Any other Bulma elements you want -->
            <form class="box">
                <div class="field">
                    <label class="label">Username</label>
                    <div class="control has-icons-left">
                        <input class="input is-primary" type="text" placeholder="Username" required>
                        <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="label">Password</label>
                    <div class="control has-icons-left">
                        <input class="input" type="password" placeholder="••••••••" required>
                        <span class="icon is-small is-left">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox">
                        Remember me
                    </label>
                </div>
            </form>
        </div>

        <button class="modal-close is-large modalClose" aria-label="close"></button>

    </div>

    {{!-- Name Route Upon Saving Modal --}}

    <div class="modal" id="nameRouteModal">
        <div class="modal-background modalClose"></div>
        <div class="modal-content ">
            <form class="box">
                <label class="label">Route Name*</label>
                <input class="input is-primary" type="text" id="modal-routeName" autocomplete="off" required>

                <label class="label" id="modal-locationLabel">Location</label>
                <input class="input is-primary" type="text" id="modal-location" autocomplete="off">

                {{!-- Buttons flipped due to float right property --}}
                <button id="cancelNameRouteModal">Cancel</button>
                <button id="closeNameRouteModal" type="submit">Submit</button>
            </form>
        </div>
    </div>

    {{!-- Search Address Modal --}}

    <div class="modal" id="searchAddressModal">
        <div class="modal-background modalClose"></div>
        <div class="modal-content ">
            <form class="box">
                <label class="label">Enter Full Address or City</label>
                <input class="input is-primary" type="text" id="modal-address" autocomplete="off">

                {{!-- Buttons flipped due to float right property --}}
                <button id="cancelAddressModal">Cancel</button>
                <button id="closeAddressModal" type="submit">Submit</button>
            </form>
        </div>
    </div>

</section>

{{!-- Javascript, Jquery --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/post-activity.js"></script>
<script src="/js/gmaps.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB66kReNVkNXq1PYpmqbsmNUfrGWVx0pVg&libraries=drawing&callback=initMap"
    async defer></script>