<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">

    <title>Mammoth</title>

    {{!-- Styling --}}
    {{!-- <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap-grid.css">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css"> --}}
</head>

<body>

    <div id="home">
        <div class="container">

            {{!-- Header --}}
            <div class="row">
                <h1 class="col-5">Post New Activity</h1>
                <form class="col-6" id="headerForm" action="/" method="POST">
                    <button class="btn btn-primary" name="dashboard">Dashboard</button>
                    <button class="btn btn-primary" name="friends">Friends</button>
                    <button class="btn btn-primary" name="reports">Reports</button>
                </form>
            </div>

            {{!-- Activity List --}}
            <div class="row" id="activityList">
                <button class="activity btn btn-light" id="runningBtn" name="running">Running</button>
                <button class="activity btn btn-light" id="strengthBtn" name="strength">Strength Training</button>
            </div>

            {{!-- Running Form --}}
            <div class="row" id="runningForm">
                <form class="col-3 offset-4" id="headerForm"> {{!-- Need to change this to
                    submit data to database --}}

                    <label for="date">Date: </label>
                    <input type="text" name="date" id="date" autocomplete="off"><br>

                    <label for="distance">Distance: </label>
                    <input type="text" name="distance" id="distance" autocomplete="off"><br>

                    <label for="duration">Duration: </label>
                    <input type="text" name="duration" id="duration" autocomplete="off"><br>

                    <label for="pace">Pace: </label> {{!-- Auto-calculate. Conditions = distance/duration fields are
                    filled out --}}
                    <p id="pace" name="pace">0:00</p><br>

                    <label for="location">Location: </label>
                    <input type="text" name="location" id="location" autocomplete="off"><br>

                    <label for="surface">Surface: </label>
                    <input type="text" name="surface" id="surface" autocomplete="off"><br><br>

                    <button type="submit" name="submitRun" class="btn btn-primary" id="submitRun">Submit</button>
                </form>
            </div>

            <div id="runList"></div>

            {{!-- Strength Training Form--}}
            <div class="row" id="strengthForm">

                {{!-- <form class="clearfix mb-4" action="POST">

                    <input type="text" name="exercise" id="exercise">
                    <div id="addExercise">Add Exercise</div>

                    <button type="submit" id="submitStrength" class="btn btn-primary float-right">Submit</button>

                </form> --}}


                {{#each run}}

                <li data-id="{{this.id}}" class="list-group-item">
                    <a href="runs/{{this.id}}">{{this.date}}</a>
                    <button class="btn btn-dnager float-right delete">x</button>
                </li>

                {{/each}}

                </ul>
            </div>

        </div>
    </div>
    </div>

    {{!-- Javascript, Jquery --}}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/post-activity.js"></script>
    <script src="/js/index.js"></script>

</body>

</html>