<section class="hero is-primary is-fullheight">

    {{!-- Header --}}
    <div class="hero-head">
        <header class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/home">
                        <img src="images/image.png" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class='navbar-link' href="/home">
                                Dashboard
                            </a>

                            <div class='navbar-dropdown'>
                                <a class='navbar-item'>
                                    Reports
                                </a>
                                <a class='navbar-item'>
                                    History
                                </a>
                                <a class='navbar-item'>
                                    Plan
                                </a>
                            </div>
                        </div>
                        <a class="navbar-item">
                            Friends
                        </a>
                        <a class="navbar-item">
                            Challenge
                        </a>
                        <a class="navbar-item" id="newActivity" href="/post-activity">
                            Post New Activity
                        </a>
                    </div>
                    <div class="navbar-end">
                        <span class="navbar-item" id="signOut">
                            <p id="loggedInUser">Logged in as </p>
                            <a id="signOutBtn" class="button is-primary is-inverted" href="#" onclick="signOut();">
                                <span>Sign Out</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </header>
    </div>

    {{!-- Body --}}
    <div class="hero-body">

        <div class="columns">

            {{!-- First Column --}}
            <div class="col-4">

            </div>

            {{!-- Second Column --}}
            <div class="col-4">

                
            </div>

            {{!-- Third Column --}}
            <div class="col-4">
                
            </div>

        </div>
    </div>

    {{!-- Footer --}}
    <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
                <ul>
                    <li><a>FAQ</a></li>
                    <li><a>Contact Us</a></li>
                    <li><a>About</a></li>
                    <li><a>Terms of Service</a></li>
                </ul>
            </div>
        </nav>
    </div>

</section>

{{!-- Javascript, Jquery --}}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/post-activity.js"></script>
<script src="/js/gmaps.js"></script>
<script src="/js/test.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB66kReNVkNXq1PYpmqbsmNUfrGWVx0pVg&libraries=drawing&callback=initMap"
    async defer></script>
