html,
body {
height: 100%;
margin: 0;
padding: 0;
}

button {
    margin: 5px 0px 5px 0px;
    width: 100px;
}

#buttonDiv {
    background: rgb(236, 236, 236);
    padding: 5px;
}

#clearRoute {
    color: red;
}

#distance {
    font-size: 18px;
    font-weight: 700;
    padding: 5px;
    
}

#distanceDiv {
    font-size: 12px;
}

#loopRoute {
    color: black;
}

#map {
    height: 100%;
    width: 100%;
}

#mapControl {
    background: rgb(87, 87, 87);
    border: 1px solid black;
    color: white;
    left: 10px;
    padding: 5px 0px 5px 0px;
    position: absolute;
    text-align: center;
    top: 60px;
    z-index: 99;
}

#wrapper {
    height: 100%;
    position: relative;
}