html,
body {
height: 100%;
margin: 0;
padding: 0;
}

.hero.is-fullheight .hero-body {
    align-items: stretch;
}

#allRunsList {
    max-height: 528px;
    overflow-y: scroll;
}

#map2 {
    height: 100%;
    width: 50%;
}

.runDiv {
    background: white;
    border: 1px solid black;
    border-radius: 12px;
    color: black;
    font-size: 14px;
    height: 35px;
    margin: 5px 0px 5px 0px;
    padding: 5px 10px 5px 10px;
    width: 100%;
}

.runDiv:first-child {
    margin-top: -12px;
}

.runDiv:hover {
    background: orange !important;
}

.runDetail {
    background: none;
    display: inline;
}

.viewRunFilter {
    display: inline-block;
    font-size: 12px;
    padding: 5px;
}

#viewFilterBtns {
    display: inline-block;
    margin-bottom: -30px;
    margin-left: 20px;
    padding: 5px;
}

.dataSpan {
    margin-left: 15px;
    max-width: 105px !important;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis !important;
    vertical-align: middle;
    white-space: nowrap !important;  
    width: 100px; 
}

.dataSpan:first-child {
    margin-left: 0px;
}

.deleteRun {
    float: right;
    margin-top: -20px;
}


