/***************************
HTML Elements
***************************/

button {
  margin-left: 5px;
  width: auto;
}

div {
  text-align: center;
}

h1 {
  text-align: left;
}

input, p {
  float: right;
}

label {
  clear: both;
  float: left;
  text-align: left;
}

/***************************
Bootstrap Elements
***************************/

.col-8 {
  border: 1px solid black;
}

.container {
  background: lightgray;
  border: 1px solid darkgray;
  border-top: 0px;
  height: 100vh;
  padding: 20px;
}

.row {
  border: 1px solid darkgray;
  padding: 20px;
}

/***************************
Classes
***************************/

.list-group-item {
  line-height: 2.5;
}

/***************************
Identifiers
***************************/

#addExercise {
  font-size: 12px;
  text-align: left;
}

#headerBtns {
  
}

#headerForm {
  margin-top: 15px;
}

#name {
  font-size: 18px;
  text-align: left;
}

#row2 {
  border-top: 0px;
}

#row3 {
  border-top: 0px;
}

#submitActivity {
  float: right;
  margin-top: 10px;
}